@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root{
  --primary-color: #007AF3; 
}

body{ 
  background: white;// #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar{ 
  background: white;
  padding:1em;
  z-index: 994;
  width: 100%;
  position: fixed;
  top: 0;
  border: 2px solid rgba(128, 128, 128, 0.096);


  .logo{ 
    text-decoration: none;
    font-weight: 700;
    color:black;
    font-size: 1.2em;
    
    span{ 
      color: var(--primary-color);
    }
  }

  .mobile-menu{ 
    display: none;
  }

  .container{ 
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .nav-links{ 
    display: flex;
    justify-content: space-between;
    background: white;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    color: white;
    
    ul{ 
      display: flex;
    }

    a{
      color: black;
      font-size: 1em;
      padding: .1em 1em;
      text-decoration: none;

      &:hover{
        font-weight: bold;
        color: #007AF3;
      }
    }

    ul.primary-nav{ 
      margin: 0;
    }

    li.current a{ 
      font-weight: bold;
    }

    li.go-premium-cta a{ 
      color: var(--primary-color);
      border: 3px solid var(--primary-color);
      font-weight: bold;
      border-radius: 5em;
      margin-top: -.2em;

      &:hover{ 
        background: var(--primary-color);
        color: white;
      }
    }
  }
}

.hero{ 
  background: url('images/backgroun.gif');
  display: block;
  margin: 0;
  padding: 4em;
  position: relative;
  height: 40vh;
  overflow-x: hidden;

  .container{ 

    h1{ 
      text-align: center;
      color: white;
      width: 100%;
      text-transform: bold;
      font-size: 3.8em;
      z-index: 300;
      position: relative;
      margin-bottom: 0;
      //transition: all 1s linear;
      font-weight: bold;
      
      span{ 
        color: rgb(197, 234, 243);
      }
    }
  
    p{ 
      margin-top: 1em;
      color: white;
      text-align: center;
      position: relative;
      z-index: 300; 
      font-size: 1.2em;
    }
  
    .engineer{ 
      text-transform: none;
      font-weight: bold;
    }
  
    .quote{ 
      text-transform: none;
      border: none;
      background: none;
    }
    .extras{ 
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2em;
      display: flex;
      justify-content: space-around;

      img{ 
        display: none;
      }

      a{ 
        &:hover{ 
          background: none;
        }
      }
    }

    a{ 
      z-index: 999;
      text-decoration: none;
      margin: 1em;

      border: 3px solid var(--primary-color);
      //padding: 0.6em;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.09em;
      padding-bottom: 0.09em;
      border-radius: 3em;
      background-color: var(--primary-color);
      font-weight: bold;
      color: white;
      font-size: 0.9em;
    }
  }

  .hero-tint{

    &:before{
      content: ''; 
      width: 100%;
      height: 100%;
      background-color: rgb(20, 20, 20);
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}

.about{ 
  //margin-top: 4em;
  padding-top: 5em;
  overflow-x: hidden;
  margin-top: 2em;


  h1{
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    text-decoration-thickness: 6px;
    text-decoration: underline;
    text-decoration-color:var(--primary-color);
    text-underline-offset: 0.4em;
  }

  h2{ 
    font-size:0.9em;
    text-align: center;
    padding-top: 1em;
    font-weight: 400;
    color: grey;
  }

  .left-column{ 
    
    p{ 
      width: 80%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      font-size: 0.9em;
      line-height: 1.5em;
    }

    .second{ 
      padding-top: 1.5em;
    }
  

    .experience{ 
      text-align: center;
      margin-top: 9em;
      padding-top: 3em;
      padding-bottom: 2em;
      display: flex;
      justify-content:space-between;
      padding-left: 4.5em;
      padding-right: 4.5em;

      h5{ 
        color: grey;
        margin: 0;
        width:8em;
        text-align: center;
      }
    }

    .socials{ 
      display: flex;
      justify-content: space-between;
      width: 22em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      margin-bottom: 0;

      a{ 
        text-decoration: none;
      }

      .media__icon{ 
        color: #007AF3;
      }

      .download{ 
        margin-top: auto;
        margin-bottom: auto;
        border: 3px solid var(--primary-color);
        //padding: 0.6em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.09em;
        padding-bottom: 0.09em;
        border-radius: 3em;
        background-color: white;
        font-weight: bold;
        color: var(--primary-color);
        font-size: 0.9em;

        .download__icon{ 
          font-size: 1.4em;
          font-weight: bold;
          margin-left: 0.2em;
        }

        &:hover{ 
          background: var(--primary-color);
          color: white;
        }
      }

      .icon{ 
        font-size: 2.4em;

        &:hover{ 
          color: #043b72;
        }
      }
    }
  }

  .right-column{ 
    text-align: center;   

    img{ 
      width: 20em ;
      border-radius: 12em;
      margin: 3em;
    }
  }
}

.skillssection{ 
  padding: 2.7rem;
  overflow-x: hidden;
}

.section__subtitle{ 
  display: block;
  text-align: center;
  font-size:0.9em;
  text-align: center;
  font-weight: 400;
  color: grey;
  margin-top: 2em;
  margin-bottom: 1em;
}

.section__title{ 
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  text-decoration-thickness: 6px;
  text-decoration: underline;
  text-decoration-color:var(--primary-color);
  text-underline-offset: 0.4em;
}

.skills__container{ 
  row-gap: 0;
}

.skills__header{
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  cursor: pointer;
}

.skills__icon,.skills__arrow{ 
  font-size: 2rem;
  color: #007AF3;
}

.skills__icon{ 
  margin-right: 0.75rem;
}

.skills__title{ 
  font-size:1.125rem; 
  margin-bottom: 0;
}
.skills__header{ 
  margin-top: 2em;
}

.skills__subtitle{ 
  font-size: 0.9rem;
  color: grey;
  margin-top: 0;
}

.skills__arrow{ 
  margin-left: auto;
  transition: .4s;
}

.skills__titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__list{ 
  margin-top: 3em;
  row-gap: 0.5rem;
  padding-left: 2.2rem;
}

.skills__name{ 
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 200;
}

.skills__number{ 
  color: grey;
  margin-top: 0.5em;
  
}

.skills__data{ 
  margin:1em;
}

.skills__bar,.skills__percentage{ 
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar{ 
  background-color: #007af38f;
}

.skills__percentage{ 
  display: block;
  background-color: #007AF3;
}

.skills__html{ 
  width: 90%;
}

.skills__css{ 
  width: 80%;
}

.skills__js{ 
  width: 60%;
}


.skills__python{ 
  width: 90%;
}

.skills__java{ 
  width: 80%;
}

.skills__c{ 
  width: 80%;
}

.skills__matlab{ 
  width: 70%;
}

.skills__vhdl{ 
  width: 50%;
}

.skills__machine{ 
  width: 50%;
}

.skills__close .skills__list{ 
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list{ 
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow{ 
  transform: rotate(-180deg);
}

.work{ 

  //margin-bottom: 8em;
  padding: 2em;
  overflow-x: hidden;

    h1{ 
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 2.5em;
      font-weight: bold;
      position: relative;
      text-decoration-thickness: 6px;
      text-decoration: underline;
      text-decoration-color:var(--primary-color);
      text-underline-offset: 0.4em;
    }

    h2{ 
      font-size:0.9em;
      text-align: center;
      padding-top: 1em;
      font-weight: 400;
      color: grey;
    }

    h3{ 
      font-weight: bold;
      text-align: center;
    }

    .container{

      padding: 1em;

      .button{ 
        border: 2px solid var(--primary-color);
        border-radius: 0.5em;
        padding: 0.5em;
        background-color: white;
        color: var(--primary-color);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        margin-top: 1em;
        margin-bottom: 1em; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5em;

        &:hover{ 
          background: var(--primary-color);
          color: white;
        }
      }

      img{ 
        width: 25em;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
        border-radius: 0.9em;
      }

      .arrowright {
        font-size: 3em;
        position: absolute;
        right: 3.5%;
        cursor: pointer;
      }

      p{ 
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25em;
        margin-bottom: 2em;
        text-align: center;
      }

      .part1 {

        display: block;
      }

      .part2 {

        display: none;

        .arrowleft {
          font-size: 3em;
          position: absolute;
          left: 5%;
          cursor: pointer;
        }
      }

      .part3 {

        display: none;

        .arrowleft {
          font-size: 3em;
          position: absolute;
          left: 5%;
          cursor: pointer;
        }
      }

    }
}



.project {

  overflow-x: hidden;
  //margin-bottom: 6em;
  padding: 2em;

    h1{ 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    text-decoration-thickness: 6px;
    text-decoration: underline;
    text-decoration-color:var(--primary-color);
    text-underline-offset: 0.4em;
  }

  h2{ 
    font-size:0.9em;
    text-align: center;
    padding-top: 1em;
    font-weight: 400;
    color: grey;
  }

  .image{ 
    position: relative;
    margin-top: 3em;

    .image__img{ 
      display: block;
      width: 80%;
      border-radius: 1.5em;
      margin-top: 0.5em;
      margin-left: auto;
      margin-right: auto;
    }

    .image__overlay{ 
      position: absolute;
      top: 0;
      left: 0;
      width: 80%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: all 0.5s ease-out;
      border-radius: 1.5em;
      margin-left: 10%;

      &:hover{ 
        opacity: 1;
      }
    }

    .image__overlay > *{ 
      transform: translateY(20px); 
      transition: transform 0.25s;
    }

    .image__overlay:hover > *{ 
      transform: translateY(0); 
    }

    .image__title{ 
      font-size: 2.5em;
      font-weight: bold;
    }

    .image__overlay--blur{ 
      backdrop-filter: blur(5px);

    }
  }
}

.popups {

  position: relative;

  .bg-tint{
    width: 4000px;
    height: 1400vh;
    left: -50em;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    top: -1100vh;
    z-index: 995;
    justify-content: center;
    align-items: center;
    display: none;
    overflow-x: hidden;
  }

  .popup{ 
    width: 410px;
    height: 700px;
    background-color: white;
    border-radius: 2em;
    position: fixed;
    top: 2.5em;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    .close{ 
      display: block;
      margin-left: 11em;
      margin-top: 0.5em;
      font-size: 2em;
      font-weight: bold;
      color: #007AF3;
      position: absolute;
    }

    h3{ 
      margin-top: 1.5em;
      text-align: center;
      font-size: 2em;
    }

    p{ 
      margin-top: 80%;
      position: absolute;
      text-align: center;
    }

    img{ 
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .arrowleft{ 
    position: absolute;
    display: block;
    font-size: 3em;
    top: 40%;
  }

  .arrowright{ 
    position: absolute;
    display: block;
    font-size: 3em;
    top: 40%;
    right: 1%;
  }

  .project1-pop{ 
    display: none;
    .p1{ 
      display: block;
    }
    .p2{
      display: none;
    }
    .p3{
      display: none;
    }
  }

  .project2-pop{ 
    display: none;
    .q1{ 
      display: block;
    }
    .q2{
      display: none;
    }
    .q3{
      display: none;
    }
  }

  .project3-pop{ 
    display: none;
  }
}

.contact-section{ 

  padding: 3em;

  h1{ 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    text-decoration-thickness: 6px;
    text-decoration: underline;
    text-decoration-color:var(--primary-color);
    text-underline-offset: 0.4em;
  }

  h2{ 
    font-size:0.9em;
    text-align: center;
    padding-top: 1em;
    font-weight: 400;
    color: grey;
  }

  label{ 
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
  }
  
  input, textarea{ 
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  
  input[type="submit"]{ 
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
  }
}

@keyframes navLinkFade{ 
  from{ 
    opacity:0;
    transform: translateZ(500px);
  }
  to{ 
    opacity: 1;
    transform: translateZ(0px);
  }
}


@keyframes FadeAway{ 
  from { 
    opacity:0;

  }
  to{ 
    opacity: 1;
  }
}

@media only screen and (min-width: 380px){ 
  .hero{ 
    height: 80vh;
    overflow-x: hidden;
  }

  .work{ 
    //position: relative;
    img{ 
      text-align: center;
      // left: 50%;
      // transform: translateX(-50%);
    }
  }
}

@media only screen and (max-width: 845px){ 

  .navbar{ 
    display: flex;
    padding: 1em;
    position: fixed;


    .mobile-menu{ 
      position: absolute;
      display: block;
      top: 40%;
      right: 9%;
      cursor: pointer;
      z-index: 999;
    }

    .logo{ 
      z-index: 999;
    }

    .nav-links{ 
      position: fixed;
      background: white;
      height: 100%;
      width: 100%; 
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0;
      top: 0;
      left: 0;
      align-items: center;

      clip-path: circle(100px at 95% -15%);
      -webkit-clip-path: circle(100px at 95% -15%);
      transition: all 1.5s ease-out;

      .secondary-nav{ 
        margin-top: 9em;
      }
      

      ul{ 
        display: flex;
        flex-direction: column;
        height: 15em;
      }

      li{
        
        a{
          color: black;
          text-decoration: none;
          display: block; //allows you to have padding and margin
          padding: 1.4em;
          font-size: 1.3em;
          text-align: center;

          &:hover{
            font-weight: bold;
            color: #007AF3;
          }
        }
      }

      li.go-premium-cta a{ 
        color: black;
        border: none;
        font-weight: lighter;
        border-radius: none;
        margin-top: -.2em;
  
        &:hover{ 
          background: none;
          color: var(--primary-color);
        }
      }
    }

    .nav-links.open{ 
      clip-path: circle(2000px at 95% -15%);
      -webkit-clip-path: circle(2000px at 95% -15%);
    }
  }
}

@media only screen and (min-width: 570px){ 

  .work{ 
    padding-top: 4em;
  }
  .project{
    padding-top: 5em; 
    .container{ 
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .image__title{ 
        font-size: 1.5em;
      }
    }
  }

  .contact-section{ 
    padding-top: 7em;
    padding-bottom: 8em;
  }
}

@media only screen and (min-width: 845px){ 
  // .container{ 
  //   width: 80%;
  //   margin: 0 auto;
  // }

  .navbar{ 
    .container{ 
      left: 0;
      // padding-left: 2em;
      padding-right: 2em;
    }
  }

  // .project{ 
  //   .container{ 
  //     display: grid;
  //     grid-template-columns: repeat(2, 1fr);

  //     .image__title{ 
  //       font-size: 2em;
  //     }
  //   }
  // }
}


@media only screen and (min-width: 1080px){ 
  .container{ 
    width: 80%;
    margin: 0 auto;
    //padding-left: 2em;
  }

  .hero{ 
    height: 70vh;
    
    .container{ 
      margin-top: 8em;
      z-index: 999;

      h1{ 
        font-size: 6.5em;
      }

      p{ 
        font-size: 1.3em;
      }

      .extras{ 
        display: flex;
        flex-direction: row;
        

        a{ 
          color: white;
        }
      }
    }
  }

  .about{ 
    padding-top: 10em;
    padding-bottom: 10em;

    .container{
      width: 90%;
      padding: 1em;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 4em;
    margin-top: 8em;
    width: 100;
  
    .left-column{ 
      width: 50%;
    

      p{ 
        //margin-top: 1em;
        width: 40em;
        margin-left: 16em;
        text-align: left;
      }

      .experience{ 
        margin-left: 85%;
        margin-top: 5em;

        .years{ 
          padding-right: 4em;
        }

        .projects{ 
          padding-left: 4em;
        }
      }

      .socials{ 
        margin-left: 21%;
        margin-top: -5em;
      }
    }

    .right-column{ 
      width: 45%;
      margin-top: -35em;
      margin-bottom: 2em;
    }
  }

  .work{ 

    padding-bottom: 10em;
    .container{ 
      img{ 
        margin-top: 0.5em;
        width: 35em;
      }

      p{ 
        width: 60%;
        font-size: 1em;
      }

      h3{ 
        font-size: 1.5em;
      }

      .arrowright{ 
         font-size: 5em;
         left: 80%;
      }

      .part2{ 
        .arrowleft{ 
          font-size: 5em;
          left: 14%;
        }
      }

      .part3{ 
        .arrowleft{ 
          font-size: 5em;
          left: 14%;
        }
      }
    }
  }

  .skillssection{ 
    padding-bottom: 5em;
    .skills__container{   
      grid-template-columns: repeat(2, 1fr);
      display: grid;;
      justify-content: space-between;

      .skills__content{ 
        margin: 2em;
      }
    
    }
  }

  .project{ 

    padding: 3em 7em 16em ;

    .container{ 
      display: grid;
      padding: 1em;

      .image__title{ 
        font-size: 2em;
        font-weight: bold;
      }
    }
  }

  .contact-section{ 

    padding-top: 4em;
    padding-left: 10em;
    padding-right: 10em;
    margin-bottom: 2em;

    input, textarea{ 
      width: 100%;
      padding: .8em;
      margin-bottom: 1em;
      border-radius: .3em;
      border: 1px solid gray;
      box-sizing: border-box;
    }

    input[type="submit"]{ 
      background-color: var(--primary-color);
      color: white;
      font-weight: bold;
      border: none;
      margin-bottom: 5em;
      border-radius: 5em;
      display: inline-block;
      padding: .8em 2em;
      width: unset;
      cursor: pointer;
    }
  }
}
