@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: white;
  margin: 0;
  font-family: 'Poppins';
  overflow-x: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .blur {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  background: white;
  padding: 1.1em;
  z-index: 994;
  width: 100%;
  position: fixed;
  top: 0;
  border: 2px solid rgba(128, 128, 128, 0.096);
}

.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .mobile-menu {
  display: none;
}

.navbar .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  position: unset;
  width: 100%;
  padding: 0;
  color: white;
}

.navbar .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1em;
}

.navbar .nav-links a {
  color: black;
  font-size: 1em;
  padding: .1em 1em;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  font-weight: bold;
  color: #007AF3;
}

.navbar .nav-links ul.primary-nav {
  margin: 0;
}

.navbar .nav-links li.current a {
  font-weight: bold;
}

.navbar .nav-links li.go-premium-cta a {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
}

.navbar .nav-links li.go-premium-cta a:hover {
  background: var(--primary-color);
  color: white;
}

@-webkit-keyframes wave {
  0%, 100% {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
  60% {
    border-radius: 30% 70% 30% 70% / 40% 60% 40% 60%;
  }
}

@keyframes wave {
  0%, 100% {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
  60% {
    border-radius: 30% 70% 30% 70% / 40% 60% 40% 60%;
  }
}

section.hero {
  height: 100vh;
  background: white;
  margin-top: 4em;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  animation: none;
}

section.hero h1 {
  font-size: 5.5em;
  padding: 19vh 0 0 0;
  margin: 0 0 0 0;
  font-weight: 900;
  text-align: center;
  // animation: glitch1 5s infinite;
  // z-index: 3;
}

// section.hero .glitch1 {
//   z-index: 2;
//   margin-top: -2em;
//   line-height: 0;
//   color: #67f3da;
//   animation: glitch2 5s infinite;
// }

// section.hero .glitch2 {
//   line-height: 0;
//   margin-top: -1.6em;
//   color: #f16f6f;
//   animation: glitch3 5s infinite;
// }

section.hero h1 span {
  color: var(--primary-color);
}

section.hero .bio {
  display: block;
  // padding-top: 3em;
  font-size: 1.1em;
  color: var(--primary-color);

  h4 {
    color: black;
    font-size: 1em;
    z-index: 2;
    text-align: center;
  }

  .sub {
    display: flex;
    text-align: center;
    
    .profession {
      text-align: center;
      margin-left: auto;
    }

    .contact-btn {
      margin-right: auto;
      margin-left: .5em;
      padding: .5em;

      button {
        padding: .5em 1em .5em 1em;
      }
    }
  }
}


section.hero .bio button {
  background: white;
  border: 3px solid var(--primary-color);
  border-radius: 2em;
  font-size: 1.1em;
  font-family: 'Poppins';
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

section.hero .bio button:hover {
  color: white;
  background: var(--primary-color);
}


section.hero .blob {
  -webkit-animation: wave 8s ease-in-out infinite;
          animation: wave 8s ease-in-out infinite;
  background: linear-gradient(64deg, var(--primary-color) 43%, #01b7ff 70%);
  z-index: 1;
}

section.hero .one {
  position: absolute;
  left: -5%;
  top: 65%;
  width: 600px;
  height: 350px;
  opacity: 95%;
}

section.hero .two {
  position: absolute;
  left: 1%;
  top: 52%;
  width: 200px;
  height: 200px;
  opacity: 40%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

section.hero .three {
  position: absolute;
  right: -15%;
  top: -8%;
  width: 400px;
  height: 400px;
  opacity: 60%;
}

section.hero .four {
  position: absolute;
  top: 30%;
  right: 3%;
  width: 300px;
  height: 200px;
  opacity: 40%;
}

section.hero .five {
  position: absolute;
  left: 75%;
  top: -5%;
  width: 200px;
  height: 200px;
  opacity: 70%;
}

section.hero .six {
  position: absolute;
  left: 30%;
  top: 65%;
  width: 250px;
  height: 250px;
  opacity: 25%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

@media only screen and (max-width: 1150px) {
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    font-size: 6em;
    padding-top: 1.5em;
  }
  section.hero .bio {
    font-size: 1.4em;
  }
  section.hero .one {
    left: -25%;
    height: 400px;
  }
  section.hero .two {
    top: 55%;
  }
  section.hero .four {
    width: 300px;
    height: 300px;
    left: 75%;
    top: 20%;
  }
  section.hero .three {
    display: none;
  }
  section.hero .five {
    left: 80%;
  }
  section.hero .six {
    display: none;
  }
  section.hero .bio {
    font-size: 1.2em;
  }
}

@media only screen and (max-height: 615px) {
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    padding-top: .5em;
  }
}

@media only screen and (max-width: 920px) {
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    text-align: center;
    padding: 21vh 0 0 0;
    font-size: 4em;
  }

  section.hero .bio {
    font-size: .75em;

    h4 {
      font-size: 1.2em;
    }
  }
  section.hero .bio {
    text-align: center;
    padding: .25em 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  section.hero .one {
    height: 350px;
    left: -35%;
  }
  section.hero .five {
    top: -10%;
    left: 80%;
  }
  section.hero .four {
    display: none;
  }
}

@media only screen and (max-width: 675px) {
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    font-size: 14vw;
    padding-top: 20%;
  }
  section.hero .one {
    bottom: 0%;
  }
  section.hero .two {
    top: 55%;
  }
  section.hero .bio {
    font-size: 3vw;
  }

  section.hero .two {
    left: 65%;
    top: -15%;
    z-index: 8;
  }

  section.hero .five {
    z-index: 7;
  }

  section.hero h1 {
    text-align: center;
    padding: 21vh 0 0 0;
    font-size: 4em;
  }

  section.hero .bio {
    font-size: .75em;

    h4 {
      font-size: 1.2em;
    }
  }
}


@media only screen and (max-width: 520px) {
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    padding-top: 2em;
  }
  section.hero .one {
    width: 475px;
    bottom: 0%;
  }
}

@media only screen and (max-width: 415px) {
  body {
    overflow-x: hidden;
  }
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    padding-top: 3.25em;
  }
  section.hero .one {
    width: 400px;
    height: 200px;
    bottom: 0%;
    padding-top: 10vh;
  }

  section.hero .five {
    left: 65%;
    top: 1%;
  }
}

@media only screen and (max-width: 376px) and (max-height: 813px) {
  section.hero {
    overflow-x: hidden;
  }
  section.hero h1 {
    padding-top: 30vh;
    font-size: 3em;
  }
  section.hero .bio {
    font-size: .7em;
  }
  section.hero .one {
    width: 400px;
    top: 70%;
    bottom: 10%;
  }
  section.hero .two {
    top: 60%;
  }
  section.hero .five {
    top: -5%;
    left: 65%;
    opacity: 45%;
  }
}

@media only screen and (max-width: 360px) {
  section.hero {
    overflow-x: hidden;
  }

  section.hero h1 {
    font-size: 3em;
    margin-top: -.6em;
  }

  section.hero .bio {
    font-size: .7em;
  }

  section.hero .one {
    width: 400px;
    height: 175px;
    top: 65%;
    bottom: 10%;
  }
  section.hero .two {
    top: 57%;
  }
  section.hero .five {
    top: -5%;
    left: 65%;
    opacity: 45%;
  }
}

.about {
  overflow-x: hidden;
  height: 1250px;
  margin-top: 2em;
  animation: none;
}

.about .container {
  width: 90%;
  height: 1000px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.about .container h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  text-decoration-thickness: 6px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-color);
          text-decoration-color: var(--primary-color);
  text-underline-offset: 0.4em;
}

.about .container h2 {
  font-size: 0.9em;
  text-align: center;
  padding-top: 1em;
  font-weight: 400;
  color: grey;
}

.about .container .left-column p {
  width: 450px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
}

.about .container .left-column .experience {
  text-align: center;
  margin-top: 7em;
  padding-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 400px;
}

.about .container .left-column .experience h5 {
  color: grey;
  margin: 0;
  width: 8em;
  text-align: center;
}

.about .container .left-column .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 0;
}

.about .container .left-column .socials a {
  text-decoration: none;
}

.about .container .left-column .socials .media__icon {
  color: #007AF3;
}

.about .container .left-column .socials .download {
  margin-top: auto;
  margin-bottom: auto;
  border: 3px solid var(--primary-color);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.09em;
  padding-bottom: 0.09em;
  border-radius: 3em;
  background-color: white;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 0.9em;
}

.about .container .left-column .socials .download .download__icon {
  font-size: 1.4em;
  font-weight: bold;
  margin-left: 0.2em;
}

.about .container .left-column .socials .download:hover {
  background: var(--primary-color);
  color: white;
}

.about .container .left-column .socials .icon {
  font-size: 2.4em;
}

.about .container .left-column .socials .icon:hover {
  color: #043b72;
}

.about .container .right-column {
  text-align: center;
}

.about .container .right-column img {
  width: 20em;
  border-radius: 12em;
  margin: 1em;
}

@media only screen and (min-width: 640px) {
  .about {
    overflow-x: hidden;
    height: 1150px;
  }
  .about .container .left-column p {
    width: 600px;
  }
}

@media only screen and (max-width: 500px) {
  .about {
    overflow-x: hidden;
    height: 1175px;
  }
  .about .container {
    position: relative;
  }
  .about .container .left-column p {
    width: 300px;
  }
  .about .container .left-column .second {
    padding-top: 5.5em;
  }
  .about .container .left-column .experience {
    width: 300px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 0;
    padding-left: 0;
  }
  .about .container .left-column .socials {
    margin-top: 26em;
  }
  .about .container .right-column img {
    width: 250px;
    margin-top: 2em;
  }
}

.skillssection {
  padding: 2.7rem;
  overflow-x: hidden;
}

.section__subtitle {
  display: block;
  text-align: center;
  font-size: 0.9em;
  text-align: center;
  font-weight: 400;
  color: grey;
  margin-top: 2em;
  margin-bottom: 1em;
}

.section__title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  text-decoration-thickness: 6px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-color);
          text-decoration-color: var(--primary-color);
  text-underline-offset: 0.4em;
}

.skills__container {
  row-gap: 0;
}

.skills__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5em;
  cursor: pointer;
}

.skills__icon, .skills__arrow {
  font-size: 2rem;
  color: #007AF3;
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__title {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.skills__header {
  margin-top: 2em;
}

.skills__subtitle {
  font-size: 0.9rem;
  color: grey;
  margin-top: 0;
}

.skills__arrow {
  margin-left: auto;
  -webkit-transition: .4s;
  transition: .4s;
}

.skills__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__list {
  margin-top: 3em;
  row-gap: 0.5rem;
  padding-left: 2.2rem;
}

.skills__name {
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 200;
}

.skills__number {
  color: grey;
  margin-top: 0.5em;
}

.skills__data {
  margin: 1em;
}

.skills__bar, .skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: #007af38f;
}

.skills__percentage {
  display: block;
  background-color: #007AF3;
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 60%;
}

.skills__python {
  width: 90%;
}

.skills__java {
  width: 80%;
}

.skills__c {
  width: 80%;
}

.skills__matlab {
  width: 70%;
}

.skills__vhdl {
  width: 50%;
}

.skills__machine {
  width: 50%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.work {
  padding-top: 2em;
  overflow-x: hidden;
}

.work h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  text-decoration-thickness: 6px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-color);
          text-decoration-color: var(--primary-color);
  text-underline-offset: 0.4em;
}

.work h2 {
  font-size: 0.9em;
  text-align: center;
  padding-top: 1em;
  font-weight: 400;
  color: grey;
}

.work h3 {
  font-weight: bold;
  text-align: center;
}

.work .container {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work .container .button {
  border: 2px solid var(--primary-color);
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}

.work .container .button:hover {
  background: var(--primary-color);
  color: white;
}

.work .container img {
  width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  border-radius: 0.9em;
}

.work .container .written-content {
  position: relative;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work .container .written-content p {
  width: 25em;
  margin-bottom: 2em;
  text-align: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work .container .written-content .arrowright {
  font-size: 3em;
  position: absolute;
  right: -50%;
  top: 20%;
  cursor: pointer;
}

.work .container .written-content .arrowleft {
  font-size: 3em;
  position: absolute;
  left: -50%;
  top: 20%;
  cursor: pointer;
}

.work .container .part1 {
  display: block;
}

.work .container .part2 {
  display: none;
}

.work .container .part3 {
  display: none;
}

@media only screen and (max-width: 575px) {
  .work {
    overflow-x: hidden;
  }
  .work .container img {
    width: 90%;
  }
  .work .container .written-content {
    width: 150px;
  }
  .work .container .written-content p {
    width: 19em;
  }
  .work .container .written-content .arrowright {
    top: -2%;
  }
  .work .container .written-content .arrowleft {
    top: -2%;
  }
}

.project {
  padding: 2em;
}

.project h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  text-decoration-thickness: 6px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-color);
          text-decoration-color: var(--primary-color);
  text-underline-offset: 0.4em;
}

.project h2 {
  font-size: 0.9em;
  text-align: center;
  padding-top: 1em;
  font-weight: 400;
  color: grey;
}

.project .image {
  position: relative;
  margin-top: 3em;
}

.project .image .image__img {
  display: block;
  width: 80%;
  border-radius: 1.5em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.project .image .image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-radius: 1.5em;
  margin-left: 10%;
}

.project .image .image__overlay:hover {
  opacity: 1;
}

.project .image .image__overlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.project .image .image__overlay:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project .image .image__title {
  font-size: 1.8em;
  font-weight: bold;
}

.project .image .image__overlay--blur {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

@-webkit-keyframes slide-in {
  from {
    clip-path: circle(100px at 50%);
    -webkit-clip-path: circle(100px at 50%);
  }
  to {
    clip-path: circle(2000px at 50%);
    -webkit-clip-path: circle(2000px at 50%);
  }
}

@keyframes slide-in {
  from {
    clip-path: circle(100px at 50%);
    -webkit-clip-path: circle(100px at 50%);
  }
  to {
    clip-path: circle(2000px at 50%);
    -webkit-clip-path: circle(2000px at 50%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popups {
  overflow-x: hidden;
}

.popups .popup {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 2em;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  overflow-x: hidden;
}

.popups .popup .close {
  display: block;
  margin-left: 90%;
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
  color: #007AF3;
  position: absolute;
}

.popups .popup .content {
  display: block;
}

.popups .popup h3 {
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
}

.popups .popup p {
  width: 25em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-top: -1em;
  margin-right: auto;
  font-size: 1.3em;
}

.popups .popup img {
  width: 32em;
  margin-top: -2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popups .arrowleft {
  position: absolute;
  display: block;
  font-size: 3em;
  top: 40%;
  left: 1%;
}

.popups .arrowright {
  position: absolute;
  display: block;
  font-size: 3em;
  top: 40%;
  right: 2%;
}

.popups .project1-pop {
  display: none;
}

.popups .project1-pop .p1 {
  display: block;
}

.popups .project1-pop .p2 {
  display: none;
}

.popups .project1-pop .p3 {
  display: none;
}

.popups .project2-pop {
  display: none;
}

.popups .project2-pop .q1 {
  display: block;
}

.popups .project2-pop .q2 {
  display: none;
}

.popups .project2-pop .q3 {
  display: none;
}

.popups .project3-pop {
  display: none;
}

@media only screen and (min-width: 1150px) {
  .popups .popup h3 {
    margin-top: 7em;
  }
  .popups .popup .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popups .popup .content img {
    margin-left: 0;
    margin-right: 0;
  }
  .popups .popup .content p {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    margin-top: 1em;
  }
}

.contact-section {
  padding: 3em;
}

.contact-section h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  text-decoration-thickness: 6px;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--primary-color);
          text-decoration-color: var(--primary-color);
  text-underline-offset: 0.4em;
}

.contact-section h2 {
  font-size: 0.9em;
  text-align: center;
  padding-top: 1em;
  font-weight: 400;
  color: grey;
}

.contact-section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.contact-section input, .contact-section textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateZ(500px);
            transform: translateZ(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateZ(500px);
            transform: translateZ(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
  }
}

@-webkit-keyframes FadeAway {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeAway {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 410px) {
  .about .experience {
    text-align: center;
  }
}

@media only screen and (max-width: 845px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
    margin-top: 0;
    position: fixed;
    overflow-x: hidden;
  }
  .navbar .mobile-menu {
    position: absolute;
    display: block;
    top: 40%;
    right: 3.5em;
    cursor: pointer;
    z-index: 999;
  }
  .navbar .logo {
    z-index: 999;
  }
  .navbar .nav-links {
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    padding-top: 2em;
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    clip-path: circle(100px at 95% -15%);
    -webkit-clip-path: circle(100px at 95% -15%);
    -webkit-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
  }
  .navbar .nav-links .primary-nav {
    position: fixed;
    display: block;
    left: 52%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15%;
  }
  .navbar .nav-links .primary-nav .secondary-nav {
    display: block;
    position: absoliute;
    top: 0%;
  }
  .navbar .nav-links ul {
    height: 15em;
  }
  .navbar .nav-links li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1.4em;
    font-size: 1.3em;
    text-align: center;
    margin: 0.5em;
    font-size: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav-links li a:hover {
    font-weight: bold;
    color: #007AF3;
  }
  .navbar .nav-links li.go-premium-cta a {
    color: black;
    border: none;
    font-weight: lighter;
    border-radius: none;
    margin-top: -.2em;
  }
  .navbar .nav-links li.go-premium-cta a:hover {
    background: none;
    color: var(--primary-color);
  }
  .navbar .nav-links.open {
    clip-path: circle(2000px at 95% -15%);
    -webkit-clip-path: circle(2000px at 95% -15%);
  }
}

@media only screen and (min-width: 570px) {
  .project {
    padding-top: 5em;
    overflow-x: hidden;
  }
  .project .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (0.5fr);
        grid-template-columns: repeat(2, 0.5fr);
  }
  .project .container .image__title {
    font-size: 2em;
  }
  .contact-section {
    padding-top: 7em;
    padding-bottom: 8em;
  }
}

@media only screen and (min-width: 845px) {
  .navbar {
    overflow-x: hidden;
  }
  .navbar .container {
    left: 0;
    padding-right: 2em;
    place-content: space-between;
  }
}

@media only screen and (min-width: 1150px) {
  .about {
    overflow-x: hidden;
    height: 900px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 4em;
    margin-top: 8em;
    width: 100;
  }
  .about .container {
    width: 950px;
    height: 540px;
    position: relative;
    margin-top: 4em;
  }
  .about .container .right-column {
    width: 1px;
  }
  .about .container .right-column img {
    padding-top: 30em;
  }
  .about .container .left-column {
    position: absolute;
    width: 650px;
    left: 35%;
    padding-left: 4em;
  }
  .about .container .left-column p {
    text-align: left;
    width: 600px;
    margin-left: 0em;
  }
  .about .container .left-column .second {
    padding-top: 3em;
  }
  .about .container .left-column .experience {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    margin-left: 3em;
  }
  .about .left-column {
    width: 50%;
  }
  .about .left-column p {
    width: 40em;
    margin-left: 10em;
    text-align: left;
  }
  .about .left-column .second {
    margin-top: -3em;
  }
  .about .left-column .experience {
    margin-left: 85%;
    margin-top: 5em;
  }
  .about .left-column .experience .years {
    padding-right: 4em;
  }
  .about .left-column .experience .projects {
    padding-left: 4em;
  }
  .about .left-column .socials {
    position: absolute;
    left: -46%;
    top: 80%;
  }
  .about .right-column {
    width: 45%;
    margin-top: -41em;
    margin-bottom: 2em;
  }
  .skillssection {
    padding-bottom: 5em;
  }
  .skillssection .skills__container {
    -ms-grid-columns: (1fr);
    grid-template-columns: repeat(2, 1fr);
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .skillssection .skills__container .skills__content {
    margin: 2em;
  }
  .project {
    padding: 3em 7em 16em;
  }
  .project .container .image__title {
    font-size: 2em;
    font-weight: bold;
  }
  .contact-section {
    padding-top: 4em;
    padding-left: 10em;
    padding-right: 10em;
    margin-bottom: 2em;
  }
  .contact-section input, .contact-section textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact-section input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
  }
}

section.footer {
  margin-top: -5em;
  height: 24vw;
  background: rgb(214, 213, 213);

  h1 {
    text-align: center;
    color: var(--primary-color);
    padding: 7vw 1em 0 1em;
    font-size: 3vw;
  }

  h5 {
    text-align: center;
    font-size: 1vw;
    color: black;
    padding: 0em 1em 2.5em 1em;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  section.footer {
    height: 300px;
  
    h1 {
      font-size: 1.5em;
      padding: 3em 1em 0 1em;
    }
  
    h5 {
      font-size: .8em;
      padding: 0em 3em 2.5em 3em;
    }
  }
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}